@font-face {

  font-family: 'scriptMTBold';
     src: url('../fonts/scriptMTBold.eot');
     src: url('../fonts/scriptMTBold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/scriptMTBold.woff') format('woff'),
          url('../fonts/scriptMTBold.ttf') format('truetype'),
          url('../fonts/scriptMTBold.woff2') format('woff');
  
    font-weight: normal;
    font-style: normal;
  }
.firma{
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 5%;
  opacity: .5;
}

*, :after,:before{
  padding:0;
  margin:0;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
body{
  background:#fefae5;
  color:#3E362B;
  text-shadow:1px 1px 1px rgba(255,255,255,0.75);
  font-family: scriptMTBold;
}
a{
  text-decoration:none;
  color:#3E362B;
}
sup{
  position:relative;
  font-size:55%;
  vertical-align:top;
}
.g-1{grid-area:g1}
.g-2{grid-area:g2}
.g-3{grid-area:g3}
.g-4{grid-area:g4}
.g-5{grid-area:g5}
.g-6{grid-area:g6}
.g-7{grid-area:g7}
.g-8{grid-area:g8}

.grid{
  width:95%;
  margin:0vh auto;
  padding:1%;
  display:grid;
  grid-gap:1rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
  "g1 g1"
  "g2 g2"
  "g3 g3"
  "g4 g4"
  "g5 g5"
  "g6 g6"
  "g7 g7"
  "g8 g8";
}  

.grid-group{
  max-width:100%;
  position:relative;
  padding:1.5rem 2.2rem;
  border-radius:10px;
  transition: all .7s ease-out;
  box-shadow: 0 3px 8px 0 rgba(132, 101, 51, 0.6);
}
.grid-group:hover{
  cursor:pointer;
  box-shadow:
    0 5px 10px 0 rgba(132, 101, 51, 0.6), 
    0 17px 50px 0 rgba(132, 101, 51, 0.2);

  color:#fefae5;
  text-shadow: 0 1px 0 #fefae5,
                  0 2px 0 #e5e1cc,
                  0 3px 0 #cbc7b2,
                  0 4px 0 #b2ae99,
                  0 5px 0 #98947f,
                  0 6px 1px rgba(0,0,0,.1),
                  0 0 5px rgba(0,0,0,.1),
                  0 1px 3px rgba(0,0,0,.3),
                  0 3px 5px rgba(0,0,0,.2),
                  0 5px 10px rgba(0,0,0,.25),
                  0 10px 10px rgba(0,0,0,.2),
                  0 20px 20px rgba(0,0,0,.15);
}
.grid-group:hover img{
  opacity: .5;
}

.grid-group-title{
  text-align: right;
  font-size: 6em;
  transition: all .7s ease-out;
}
.g-1 .grid-group-title, .g-7 .grid-group-title{
  font-size: 3.5em;
}
.g-8 .grid-group-title{
  font-size: 1.8em;
  display: block;  
}
.g-8 .grid-group-title span{
  font-size: .8em; 
}
.g-8 .grid-group-title span::before{
  content: '\A';
  white-space: pre;
}
.grid-group-img{
  max-width: 55%;
}
.g-7 img{
  opacity:.7;
}

/*  *********************************
             card: colegio 
 ***********************************/
.g-8{
  display: row flex;
}
.grid-group-fin{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.grid-group-img img.col{
  max-width: 120%;
  opacity:.9;    
}

/* SOCIAL */
.grid-group-social{
  display: flex;
}
.grid-group-social a .fa {
  font-size: 2rem;
  line-height: 4rem;
  transition: 0.3s;
}
.grid-group-social a:nth-child(1) .fa {
  color: #2f4779;
}
.grid-group-social a:nth-child(2) .fa {
  color: #55acee;
}
.grid-group-social a:nth-child(3) .fa {
  color: #cd201f;
}
.grid-group-social a:nth-child(4) .fa {
  color: #000000;
}
.grid-group-social a {
  position: relative;
  display: block;
  width: 4rem;
  height: 4rem;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 10px;
  box-shadow: 10px 0px 10px rgba(132, 101, 51, 0.6);
  transition: 0.3s;
}

.grid-group-social a::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 3px;
  background: rgba(0, 0, 0, 0.2);
  height: 10%;
  width: 100%;
  -webkit-transform: skewX(-45deg);
          transform: skewX(-45deg);
  transition: 0.3s;
}
.grid-group-social a::after {
  content: "";
  position: absolute;
  top: -3px;
  left: 64px;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 10%;
  -webkit-transform: skewY(-45deg);
          transform: skewY(-45deg);
  transition: 0.3s;
}
.grid-group-social a:hover {
  -webkit-transform: translate(-10%, 10%);
          transform: translate(-10%, 10%);
  box-shadow: 10px 0px 35px #000;
  transition: 0.3s;
}
.grid-group-social a:nth-child(1):hover {
  background: #3b5998;
  transition: 0.3s;
}
.grid-group-social a:nth-child(1):hover .fa {
  color: #fff;
  transition: 0.3s;
}
.grid-group-social a:nth-child(1):hover::after {
  background: #2f4779;
  transition: 0.3s;
}
.grid-group-social a:nth-child(1):hover::before {
  background: #627aac;
  transition: 0.3s;
}
.grid-group-social a:nth-child(2):hover {
  background: #55acee;
  transition: 0.3s;
}
.grid-group-social a:nth-child(2):hover .fa {
  color: #fff;
  transition: 0.3s;
}
.grid-group-social a:nth-child(2):hover::after {
  background: #4489be;
  transition: 0.3s;
}
.grid-group-social a:nth-child(2):hover::before {
  background: #76bcf1;
  transition: 0.3s;
}
.grid-group-social a:nth-child(3):hover {
  background: #cd201f;
  transition: 0.3s;
}
.grid-group-social a:nth-child(3):hover .fa {
  color: #fff;
  transition: 0.3s;
}
.grid-group-social a:nth-child(3):hover::after {
  background: #a41918;
  transition: 0.3s;
}
.grid-group-social a:nth-child(3):hover::before {
  background: #d74c4b;
  transition: 0.3s;
}
.grid-group-social a:nth-child(4):hover {
  background: #da9007;
  transition: 0.3s;
}
.grid-group-social a:nth-child(4):hover .fa {
  color: #fff;
  transition: 0.3s;
}
.grid-group-social a:nth-child(4):hover::after {
  background: #eeb007;
  transition: 0.3s;
}
.grid-group-social a:nth-child(4):hover::before {
  background: #eeb334;
  transition: 0.3s;
}


/* ********************************************************
                    MEDIAQUERYS
 ******************************************************** */

 @media (min-width: 768px){
    .grid{
      width:85%;
      height:100vh;
      margin:0vh auto;
      padding:1%;
      display:grid;
      grid-gap:1rem;
      grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
      grid-template-areas:
      "g1 g2 g3"
      "g4 g5 g6"
      "g7 g8 g8";
    } 
    .grid-group{
      height:30vh;
    }
    .grid-group-title{
      font-size: 4em;
      margin-bottom: 0.3em;
    } 
    .g-1 .grid-group-title, .g-7 .grid-group-title{
      font-size: 2.5em;
    }
    .grid-group-img{
      max-height: 65%;
    }

  .g-8{
    background: linear-gradient(rgba(254,250,229,.5), rgba(254,250,229,.5)),  url(../img/colegio.png);
    background-position: left; 
    background-repeat: no-repeat;
    background-size: contain;
  }
  img.col{
    visibility: hidden;
  }
  .grid-group-social{
    position: absolute;
    bottom: 2em;
    right: 2em;
  }
}

@media (min-width: 1024px){
  .grid{
    width:75%;
  }
  .firma{
    max-width: 3%;
  }
}